*.kicad_pro
*.kicad_prl
untitled.kicad_sch
fp-info-cache
~_autosave-digital clock.kicad_pcb.lck
auto_saved_files#
_autosave-digital clock.kicad_pcb
~digital clock.kicad_sch.lck
/digital clock-backups
1#auto_saved_files#
lm337_IC.kicad_sch
ATMEGA328p.kicad_sch